@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">






<div class="row">
    <aside class="col-lg-4 col-sm-1"> </aside>
    <aside class="col-lg-4 p-5 col-sm-10">
        <div class="card">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <article class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.ActionLink("Zaten Üyeyim","Login","Account",null,new {@class= "float-right btn btn-outline-primary" })
                  
                    <h4 class="card-title mb-4 mt-1">Üye Olun</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <hr>
                    <form>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Adresiniz" })
                            
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifreniz" })
                          
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Tekrar Şifreniz" })
                          
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Üye Ol" />

                        </div> <!-- form-group// -->


                    </form>
                </article>
            }
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
    <aside class="col-lg-4 col-sm-1"> </aside>

</div> <!-- row.// -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}