@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {@class="btn", id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { @class = "btn", id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new {  id = item.Id },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
