@model PagedList.IPagedList<TercihRobotumBuSonOlsun.Models.TercihVeriModel>


@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";

}


<div class="row">

    <div class="col-sm-2 bg-light p-3">
        @using (Html.BeginForm("Sorgula", "Home", FormMethod.Get, new { role = "form" }))
        {

            <form>
                <div class="card mb-1">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Üniversite Türü </h6>

                        </header>
                        <div class="filter-content">
                            <div class="card-body">

                                <label class="form-check">
                                  
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Devlet
                                    </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Vakıf
                                    </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Burslu
                                    </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Yurt Dışı
                                    </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        KKTC
                                    </span>
                                </label>  <!-- form-check.// -->

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->
                <div class="card mb-1">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Eğitim Süresi </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">

                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Lisans
                                    </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Önlisans
                                    </span>
                                </label>  <!-- form-check.// -->


                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->
                <div class="card mb-1">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Puan Türü </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">

                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        TM
                                    </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        TYT
                                    </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        MF
                                    </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        TS
                                    </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        DİL
                                    </span>
                                </label>  <!-- form-check.// -->


                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->
                <div class="card mb-1">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Puan </h6>
                        </header>
                        <div class="filter-content">

                            <div class=" card-body">

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Min">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Max">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->





                <button type="submit" class="btn btn-primary">Uygula</button>


            </form>
        }


    </div>





    <div class="col-sm-10 p-3">
        <h3 class="text-center">2018 YKS Sınavı</h3>
        <div class="row">
            <div class="col-6">

                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <p class="form-row">
                        @Html.TextBox("aramaMetni", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Arama" })
                        <input class="btn btn-primary  " type="submit" value="Ara" />
                    </p>

                }
            </div>
            <div class="col-6">
                <div class="btn-toolbar     justify-content-end pb-1 " role="toolbar" aria-label="Toolbar with button groups">

                    <div class="btn-group mr-2 " role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary active">2018</button>
                        <button type="button" class="btn btn-secondary">2017</button>
                        <button type="button" class="btn btn-secondary">2016</button>
                        <button type="button" class="btn btn-secondary">2015</button>
                    </div>

                </div>
            </div>


        </div>
        <table class="table table-hover">
            <thead>

                @* Başlıkları Çektiğim Yer  *@
                <tr>

                    <th scope="col">Listeme Ekle</th>
                    <th scope="col"> @Html.ActionLink("Program Kodu", "Index", new { sortOrder = ViewBag.SortingKodaGore, currentFilter = ViewBag.CurrentFilter })</th>
                    <th scope="col">@Html.ActionLink("Program Adı", "Index", new { sortOrder = ViewBag.SortingAdaGore, currentFilter = ViewBag.CurrentFilter })</th>
                    <th scope="col">@Html.ActionLink("Puan Türü", "Index", new { sortOrder = ViewBag.SortingPuanTuruneGore, currentFilter = ViewBag.CurrentFilter })</th>
                    <th scope="col">@Html.ActionLink("Kontenjan", "Index", new { sortOrder = ViewBag.SortingKontenjanaGore, currentFilter = ViewBag.CurrentFilter })</th>
                    <th scope="col">@Html.ActionLink("Yerleşen", "Index", new { sortOrder = ViewBag.SortingYerleseneGore, currentFilter = ViewBag.CurrentFilter })</th>
                    <th scope="col">@Html.ActionLink("En Küçük Puan", "Index", new { sortOrder = ViewBag.SortingEnKucukPuanaGore, currentFilter = ViewBag.CurrentFilter })</th>
                    <th scope="col">@Html.ActionLink("En Büyük Puan", "Index", new { sortOrder = ViewBag.SortingEnBuyukPuanaGore, currentFilter = ViewBag.CurrentFilter })</th>
                </tr>


            </thead>
            <tbody>
                @* Tablo Verilerini Çektiğim Yer  *@
                @foreach (var item in Model)
                {
                    <tr>
                        @using (Html.BeginForm("Ekle", "Home", FormMethod.Post, new { id = "ekleForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <td>

                                <a class="btn btn-primary" href="@Url.Action("Ekle", "Home", new {ProgramKodu=item.ProgramKodu,ProgramAdi=item.ProgramAdi,PuanTuru=item.PuanTuru,Kontenjan=item.Kontenjan,Yerlesen=item.Yerlesen,EnKucukPuan=item.EnKucukPuan,EnBuyukPuan=item.EnBuyukPuan})" title="Add">
                                    +
                                </a>


                            </td>
                        }
                        <td>@item.ProgramKodu</td>
                        <td>@item.ProgramAdi  </td>
                        <td>@item.PuanTuru   </td>
                        <td>@item.Kontenjan   </td>
                        <td>@item.Yerlesen    </td>
                        <td>@item.EnKucukPuan</td>
                        <td>@item.EnBuyukPuan</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort }))
            </div>

            <div class="col-6">

                Toplam @Model.TotalItemCount kayıt bulundu. Bu sayfada @Model.FirstItemOnPage ile @Model.LastItemOnPage arası kayıtlar gösteriliyor.
                @*<form class="form-inline">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Listeleme Limiti</label>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            <option selected>10</option>
                            <option value="1">50</option>
                            <option value="2">100</option>
                            <option value="3">1000</option>
                        </select>


                    </form>*@

            </div>

        </div>
    </div>

    @Url.Action()

</div>
<script>
    function Deneme() {
        $.ajax({
            url: '@Url.Action("Ekle","Home")',
            type: 'POST',
            data: { movieName: $('#BtnDeneme').val() },
        }).done(function () {
            alert('Modify Movie');
        });
    }
</script>
