@model TercihRobotumBuSonOlsun.Models.FilitreModels



@{
    ViewBag.Title = "Home Page";

}


<div class="row">

    <div class="col-sm-2 bg-light p-3">
        @using (Ajax.BeginForm("Index", "Home", FormMethod.Get, new AjaxOptions {OnSuccess="loadCust" }))
        { 

        <form>
            <p class="form-row">
                @Html.TextBoxFor(m => m.AramaMetni, new { @class = "form-control", placeholder = "Bölüm Ara" })
                @*<input class="btn btn-primary  " type="submit" value="Ara" />*@
            </p>
            <div class="card mb-1">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Üniversite Türü </h6>

                    </header>
                    <div class="filter-content">
                        <div class="card-body">

                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Devlet, new { @class = "form-check-input" })

                                <span class="form-check-label">
                                    Devlet
                                </span>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Vakif, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    Vakıf
                                </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Burslu, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    Burslu
                                </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.KKTC, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    KKTC
                                </span>
                            </label>  <!-- form-check.// -->

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->
            <div class="card mb-1">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Eğitim Süresi </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">

                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Lisans, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    Lisans
                                </span>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.OnLisans, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    Önlisans
                                </span>
                            </label>  <!-- form-check.// -->


                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->
            <div class="card mb-1">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Eğitim Dili </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">

                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Turkce, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    Türkçe
                                </span>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Ingilizce, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    İngilizce
                                </span>
                            </label>  <!-- form-check.// -->


                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->
            <div class="card mb-1">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Puan Türü </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">

                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Tm, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    TM
                                </span>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Tyt, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    TYT
                                </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Mf, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    MF
                                </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Ts, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    TS
                                </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                                @Html.CheckBoxFor(f => f.Dil, new { @class = "form-check-input" })
                                <span class="form-check-label">
                                    DİL
                                </span>
                            </label>  <!-- form-check.// -->


                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->
            <div class="card mb-1">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Puan </h6>
                    </header>
                    <div class="filter-content">

                        <div class=" card-body">

                            <div class="row">
                                <div class="col">
                                    @Html.TextBoxFor(f => f.PuanMin, new { @class = "form-control", placeholder = "Min" })
                                </div>
                                <div class="col">
                                    @Html.TextBoxFor(f => f.PuanMax, new { @class = "form-control", placeholder = "Max" })
                                </div>
                            </div>

                        </div>
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->





            <button type="submit" class="btn btn-primary">Uygula</button>


        </form>
        }


    </div>





    <div class="col-sm-10 p-3">
        <h3 class="text-center">2018 YKS Sınavı</h3>
        <div class="row">
            @*<div class="col-6">
                @using (Ajax.BeginForm("Index", "Home", FormMethod.Get, new AjaxOptions { OnSuccess = "loadCust" }))
                {

            <p class="form-row">
                @Html.TextBoxFor(m => m.AramaMetni, new { @class = "form-control", placeholder = "Arama" })
                <input class="btn btn-primary  " type="submit" value="Ara" />
            </p>
                }

            </div>*@
         


        </div>
        <div id="ajax-main">
            
            @Html.Partial("_View",@Model)
        </div>
    </div>


</div>
<script type="text/javascript">
    function loadCust(result) {
        $("#ajax-main").html(result);
    }
</script>
