@model IEnumerable<TercihimNihaiProje.Models.MyViewModel>

@{
    Layout = null;
    int sayac = 0;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2 class="text-center">Tercih Robotum</h2>
    <table class="table">
        <tr>
            <th>
                Sıra
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramKodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuanTuru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kontenjan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yerlesen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnKucukPuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnBuyukPuan)
            </th>


        </tr>

        @foreach (var item in Model)
        {

            sayac++;
            <tr>
                <td>
                    @sayac
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramKodu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuanTuru)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kontenjan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yerlesen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnKucukPuan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnBuyukPuan)
                </td>


            </tr>
        }

    </table>
    <footer>
        <p>&copy; @DateTime.Now.Year -Bir SourceCode Yapımıdır.</p>
    </footer>
</body>
</html>

