@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Üyeliğini Yönet";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @(Model.HasPassword ? Html.ActionLink("Şifreni değiştir", "ChangePassword") 
                : Html.ActionLink("Pick a password", "SetPassword"))
        </p>
        <p>
            Telefon Numarası: @(Model.PhoneNumber ?? "Yok") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Değiştir", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Sil", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Ekle", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            Sosyal girişler: @Model.Logins.Count
            @Html.ActionLink("[Yönet]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                 @Html.AntiForgeryToken()
        <p>
            İki faktörlü güvenlik şu anda devrede:
            <input type="submit" value="Devre dışı" class="btn btn-default" />
        </p>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                 <p>
                     İki faktörlü güvenlik şu anda devre dışı:
                     <input type="submit" value="Devrede" class="btn btn-default" />
                 </p>
            }
        }
        @if (Model.BrowserRemembered)
        {
            using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                 <p>
                     Tarayıcı iki faktörlü güvenlik için hatırlansın mı?:
                     <input type="submit" value="Tarayıcıyı unut" class="btn btn-default" />
                 </p>
            }
        }
        else
        {
            using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                 <p>
                     Tarayıcı iki faktörlü güvenlik için hatırlansın mı?:
                     <input type="submit" value="Tarayıcıyı hatırla" class="btn btn-default" />
                 </p>
            }
        }
    </div>
</div>
